.carousel-wrapper {
    position: relative;
}

.carousel-wrapper .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    color: #000;
    background-color: lightgray;
    top: 76px;
    right: 0;
    width: 35px;
    height: 50px;
    transform: translate(0, -50%);
}

.carousel-wrapper .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    color: #000;
    background-color: lightgray;
    top: 76px;
    left: 0;
    width: 35px;
    height: 50px;
    transform: translate(0, -50%);
}

.carousel-wrapper .owl-nav {
    text-align: center;
}